/* 
*{
  font-family: Quicksand,sans-serif!important;
} */
#img1 {
    width: 400px;
  }
  #container2 {
    padding: 80px;
    text-align: left;
  }
  
  #container2 h3 {
    margin-bottom: 10px;
  }
  #container2 h1 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: xx-large;
  }
  
  #Container31 {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    background: rgb(0, 0, 0);
  }
  
  #Container4 {
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    font-size: 20px;
  }
  #Container41 {
    font-size: 18px;
  }
  #container{
    color:#1a201e;
    font-size:14px;
  }
  #Container5 {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    border: 0;
    height: 70px;
    font-size: 20px;
  }
  #downloadtext{
    font-size: 15px;
    font-weight: 20; 
    color:#1a201e;
 
    
  }
  
  #Container6 {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    color:#212529;
    font-weight: 20;
  
  }
  
  #Card {
  
    width: 100%;
  }
  #footer_imgDiv {
    width: 100%;
    padding: 0;
    
    background: #fff;
  }
  #footer_img {
  
    width: 100%;
    height: 101%;
  }
  #Footer_Card {
    
    background: #165241;
    color: white;
    margin-top: -10px;
    
  }
  #footer_card_1 {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
  
  }
  #Container {
    display: flex;
    /* background-image: url("PHN2ZyB3aWR0aD0iNzI0IiBoZWlnaHQ9Ijc4NCIgdmlld0JveD0iMCAwIDcyNCA3ODQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI"); */
    justify-content: space-between;
    gap: 50px;
    margin-bottom:-30px;
    padding-top: 100px;
   
  }
  
  #footer_card_1 > div {
    width: 270px;
  }
  #footer_card_3 {
    width: 210px;
  }
  #colorChange{
    color: #000;
  }
  #footer_card_5 {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: white;
    margin-bottom:2px
  }
  #footer_card_5{
    display: flex;
  
  }
  #footer_card_5>div:nth-child(2){
    margin-top:-6px;
    padding-left: 5px;
   
  }
  #footer_card_51{
    display: flex;
   
  }
  #footer_card_51>div:nth-child(2){
    margin-top:-6px;
    padding-left: 5px;
   
  }
  #Container32 {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    background: #000;
  }
  #footer_card_12 {
    font-size: 35px;
    font-weight: 500;
    text-align: left;
    color: white;
  }
  
  #footer_card_2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 15px;
   
   
  }
  #colorText{
    line-height: 28px;
    font-weight: 400;
    color:#b9cbc6;
    text-decoration: none;
     /* color: #799c92 ; */
   
  }
  #footer_Card_4 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    margin-top: 10px;
    padding-left: 60px;
    
  }
  #footer_card_7 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    margin-top: 12px;
    padding-left: 60px;
  }
  #footer_card_8 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    margin-top: 12px;
    padding-left: 60px;
  }
  #footer_card_9 {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
     margin-top: 10px;
  }
  #footer_card_10 {
    font-size: 20px;
  }
  #footer_card_6 {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #footer_card_11 {
    margin-top: -80px;
    
    padding-left: 50px;
    padding-right: 50px;
  }
  #footer_card_11 > p {
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 18px;
    font-weight: 400;
     /* color: #799c92 ; */
      color:#b9cbc6; 



    
    opacity: .7;
    text-align: justify;

 
  }
  #footer_card_11 > #line1{
    width:99.5%;
    background-color: #fff;
    opacity: .2;
    height:0
  }
  #copyright {
    text-align: center;
    padding: 15px 0px;
    margin-top: -5px;
  }
  #dowloadeappcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
     margin: auto;
    /* margin-left: 50px; */
    
  }
  
  #Container3 {
    margin: 20px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 20px;
    width: fit-content;
    display: flex;
    justify-content: left;
    gap: 10px;
    padding:5px;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 100px;
  }
  